{% extends "base.html" %}

{% block title %}About TokTalk{% endblock %}

{% block content %}

<div class="container mt-5">

    <h1>About TokTalk</h1>

    <hr>

    <p>
        <strong>TokTalk Forum</strong> is a mordern online interactive discussion platform
        designed to connect people through meaningful conversations.
    </p>

    <p>
        Users of TokTalk Forum can create posts, comment, like discussions,
        search topics, and interact with other members
        in a friendly online community.
    </p>

    <p>
        <strong>Our Mission</strong><br>
        To connect people one Tok at a time.
    </p>

</div>

{% endblock %}